<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
{% csrf_token %}
<!-- The Modal -->


        <!-- Modal body -->

            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1" style="background-color: #4575B7;border-color:#4575B7;color: white;font-size: 16px">
                  <i class="fa fa-user"></i>
              </span>
              <input type="text" name="txtuser" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group" style="margin-top: 12px">
              <span class="input-group-addon" id="sizing-addon2" style="background-color: #4575B7;border-color:#4575B7;color: white;font-size: 18px">
                  <i class="fa fa-lock"></i>
              </span>
              <input type="password" name="txtpass" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>

        <!-- Modal footer -->
        <div class="modal-footer" style="margin: auto; width: 90%">
          <button type="submit" class="btn btn-success"  style="background-color: #4575B7; border: 1px solid #204d74">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>